data/
_pycache_/
env/
*.pth
interactive-main.ipynb
notes.txt
wandb/
test_vids/
fps_info.npy
video_loader_test.py
video_loader_pts.py
model_junkyard.py
clipcache/*
!clipcache/.gitkeep
saved_models/*
!saved_models/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
LitReview.txt